# SPDX-License-Identifier: GPL-2.0-only

menu "prefetch tuning drivers"

config ARM64_PREFETCH_TUNING
	tristate "arm64 prefetch tuning support"
	depends on ARM64
	help
	  In some scenarios, adjusting prefetch configuration can effectively
	  improve performance. This driver provides some interfaces related
	  to prefetch for sysctl to configure.

	  This option enables the support for arm64 prefetch tuning interface.

endmenu
