# SPDX-License-Identifier: GPL-2.0-only

config VTOA
	tristate "VTOA: VPC TCP option address for AliYun"
	depends on NETFILTER
	depends on HOOKERS
	default m
	help
	  1. Support classic toa, obtains the source address and port from the
	     specific tcp option.

	  2. Support vpc toa, obtains the source address and port, vip, vport,
	     and vpc tunnel id as well.

	  3. Support IPv4 and IPv6.
