# SPDX-License-Identifier: GPL-2.0-only
#
# Wangxun network device configuration
#

config NET_VENDOR_WANGXUN
	bool "Wangxun devices"
	default y
	help
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about WangXun cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if NET_VENDOR_WANGXUN

config TXGBE
	tristate "Wangxun(R) 10GbE PCI Express adapters support"
	depends on PCI
	imply PTP_1588_CLOCK
	help
	  This driver supports Wangxun(R) 10GbE PCI Express family of
	  adapters.

	  More specific information on configuring the driver is in
	  <file:Documentation/networking/device_drivers/ethernet/wangxun/txgbe.rst>.

	  To compile this driver as a module, choose M here. The module
	  will be called txgbe.

config NGBE
	tristate "Wangxun(R) 1GbE PCI Express adapters support"
	depends on PCI
	imply PTP_1588_CLOCK
	help
	  This driver supports Netswift gigabit ethernet adapters.
	  For more information on how to identify your adapter, go
	  to <http://www.net-swift.com>

	  To compile this driver as a module, choose M here. The module
	  will be called ngbe.

endif # NET_VENDOR_WANGXUN
